.scoreboard {
  display: flex;
  position: absolute;
  top: 50%;
  left: 0%;
  transform: translate(0%, -50%);
  width: 100%;
  //   border: 2px solid blue;
  font-size: 2rem;
  font-weight: 600;
  color: #fff;
}
.score {
  margin-left: 5rem;
  @media only screen and (max-width: $bp-phone) {
    margin-left: 1rem;
  }
}
.winlos {
  font-size: 3rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
